

.text-green{
  color: green;
}

.App{
  box-sizing: border-box;
}
.ancor{
  text-decoration:none;
  color:#000;
  transition:.8s;
}
.navbar{
  height:7rem;
}
.bg-nav{
  background-color: #EBFBFB;
  /* background-color: #000; */
}

.NL{
 font-weight: bolder;
 font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.navbar .ancor:hover{
  text-decoration:underline;
  color: green;
}

.footer{
  background-color: #000;
  color: #fff;
}

.stayWith{
  margin: .5rem 0;
}

.shopKpr{
  margin: .5rem 0;
}

.contact-us{
  margin: .5rem 0;
}

.footer-card{
  background-color: rgb(44, 43, 43);
  padding: 2rem;
  width: 20rem;
}
.color-orange{
  color:orange;
}
.color-dip-orange{
  color:rgb(255, 102, 0);
}
.footer-icon{
  color:orange;
}
.footer h6{
  color: rgba(247, 245, 245, 0.275);
}
.card-icon-div{
  width:50%;
  display:flex;
  justify-content: space-between;
  color: rgb(194, 189, 189);
}
.rights{
  height: 7rem;
   background-color: rgba(29, 28, 28, 0.967);
    color: rgba(247, 245, 245, 0.275);
   display:flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}



/* home */
.hero-container {

  
 background-color:rgb(233, 253, 250);
}
.flip-card {
  background-color: transparent;
  width: 100%;
  min-height: 600px;
  perspective: 1000px; /*Remove this if you don't want the 3D effect*/
  
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-top:5rem;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
 padding:2rem;
 text-align:left;
}

/* Style the back side */
.flip-card-back {
 padding:2rem;
  transform: rotateY(180deg);
  text-align:left;
}

.banner-image img{
  height:20rem;
  width: 20rem;
}
.flip-card span,.shopKpr-cards span, .work-life span{
  color:rgb(0, 80, 0);
}
.btn-banner,.btn-vision, .worklife-btn{
  background-color:rgb(0, 80, 0);
  color:#fff;
}
.flip-card-content{
  padding:5rem;
  
}
.hero-container .container .flip-card{
  /* background-color: red; */
  display: flex;
 flex-direction: column;
 /* justify-content: flex-start; */
 /* align-items: ; */
}



/* Retailer */

.retailer{
  height:300px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.content-item2{
  display:flex;
  justify-content:center;
  align-items: center;
}

.retailer hr{
  
  margin: 0 auto;
  border: .1rem solid green;
  width: 10rem;
}
.retailer .content-item2{
      /* background-color:red; */
      color: green;
}



/* what is shopKpr */
.what_is_shopKpr .banner{
  margin-bottom: 1rem;
} 
.what-is-shopKpr .img{
 height:30rem;
 width: 45rem;
 /* background-color: #000; */
  
}

.what-is-shopKpr .img img{
  /* background: red; */
  height: 100%;
  width: 100%;
  border-radius:2rem;
}

/* vision   */
.vision .banner .img{
 height:30rem;
 width: 45rem;
 /* background-color: #000; */
  
}
.vision .banner .img img{
  /* background: red; */
  height: 100%;
  width: 100%;
  border-radius:2rem;
}

.vision .content{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  

}




/* services */
.services .card i{
  font-size:3rem;
  color:#5df3f3;
}
.services{
  background-color:#EAFCFB;
}

.retaler-insight .img{
 height:30rem;
 width: 40rem;
 margin-bottom:1rem;
 /* background-color: #000; */
  
}
.retaler-insight .img img{
  /* background: red; */
  height: 100%;
  width: 100%;

}

.retaler-insight .img2{
  height:8rem;
  width: 8rem;
  margin: 0 auto;
  
}
.retaler-insight .img2 img{
  /* background: red; */
  height: 100%;
  width: 100%;

}




.our-team .img{
  height:20rem;
  width: 20rem;
  margin: 0 auto;
  
}
.our-team .img img{
  /* background: red; */
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.our-team .card{
  border:none;
}

.partners{
    background-color:#EAFCFB;
}
.our-partners .img{
  height: 7rem;
  width: 7rem;
}
.our-partners .img img{
  /* background: red; */
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.our-partners{
   margin: 1rem;
     padding: 4rem;         
    width: 100%;
   overflow-x: auto;
     overflow-y: hidden;
    white-space: nowrap;
   

}
.our-partners .img img{
  margin:0 2rem;
}



/*--------------- About -------------- */
.about-hero{
  height:300px;
}
.about-hero .img{
  background-image: url('./image/about-hero.jpg');
  height:100%;
  background-position: center;
   background-repeat: no-repeat;
  background-size: cover;
 
 
}
.about-hero .img h3{
  margin-top:5rem;
  z-index: 2;
  font-weight: bolder;
  color: #000;
}

.about-hero .img div{
  height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
    
    
}
.about-hero .img h3 span{
  color: green;
}



.developing{
  background-color: #F0F6FC;
}
.developing .hv{
  background-color: orange;
  height: 10rem;
  max-width: 1px;
  margin-right: 5rem;
  border-radius: 2rem;
}


.developing .card{
  display: flex;
  flex-direction: row;
  border: none;
  background-color: #F0F6FC;
}
.developing .card .img{
  border-top: 3px solid orange;
}

.developing .card .content{
   border-top: 3px solid green;
}


.our-story .img{
  height: 29rem;
  width: 29rem;
}
.our-story .img img{
  /* background: red; */
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}




.grow .grow-progress{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.grow .grow-progress .twinty{
  border-bottom: 3px solid orange;
 /* background-color:red; */
 width:100%;
  /* width:100%; */
}
.grow .grow-progress .twinty-one{
  border-bottom: 3px solid rgb(201, 181, 181);
   width:100%;
}

.grow .img{
  height: 30rem;
  width: 30rem;
}
.grow .img img{
  /* background: red; */
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.grow .about .signature{
 font-family: 'Yellowtail', cursive;
}


.feature-service .img{
  height: 29rem;
  width: 29rem;
}
.feature-service .img img{
  /* background: red; */
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.feature-service button{
  background-color:green;
  color: #fff;
}


.our-office{
  width:100%;
}

.our-office .img{
  height: 15rem;
  width: 20rem;
  
}
.our-office .img img{
  /* background: red; */
  height: 100%;
  width: 100%;
  border-radius: 1rem;
   margin:0 2rem;
}

.our-office {
   margin: 1rem;
     padding: 4rem;         
    width: 100%;
   overflow-x: auto;
     overflow-y: hidden;
    white-space: nowrap;

}

.office .name{
  color: green;
}




/* team  */
.team-hero{
  height:300px;
}
.team-hero .img{
  background-image: url('./image/team-hero.png');
  height:100%;
  background-position: center;
   background-repeat: no-repeat;
  background-size: cover;
 
 
}
.team-hero .img h3{
  margin-top:5rem;
  z-index: 2;
  font-weight: bolder;
  color: #000;
}

.team-hero .img div{
  height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
    
    
}



.team-our-team .img{
  height: 13rem;
  width: 16rem;
 
}
.team-our-team .img img{
  /* background: red; */
  height: 100%;
  width: 100%;
  border-radius: 1rem;
   margin:0 2rem;
}
.team-our-team .card{
  border: none;
}


.our-advisor .img{
  height: 20rem;
  width: 20rem;
 
}
.our-advisor .img img{
  /* background: red; */
  height: 100%;
  width: 100%;
  border-radius: 1rem;
   margin:0 2rem;
}



.our-advisor .card{
  border: none;
}

.our-advisor .advisors .row{
  /* background:red; */
display: flex;
justify-content: space-evenly;
 

}




.employe-thought{
  background-color: #F0F6FC;
}


.employe-thought .card{
  height:12rem;
  width:25rem;
  background: none;
  border: none;
}
.employe-thought .card .content{
      background-color: #EBFBFB;
      padding:1rem;
     
}
.employe-thought .img{
  height: 3rem;
  width: 3rem;
 margin-right: 2rem;;
}
.employe-thought .img img{
  /* background: red; */
  height: 100%;
  width: 100%;
  border-radius: 50%;
   margin:0 2rem;
}

.employe-thought .card .card-headers{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}


/* Blog */


.blog-hero{
 height:600px;
}
.blog-hero .img{
  background-image: url('./image/Blog.jpg');
  height:100%;
  background-position: center;
   background-repeat: no-repeat;
  background-size: cover;

}

.blog-hero .img h3{
  margin-top:5rem;
  z-index: 2;
  font-weight: bolder;
  color: #000;
}

.blog-hero .img div{
  height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
}


.sidebar .card h4{
  display: block;
  
}

.sidebar .content{
  background-color: #F0F6FC;
}
.press-release .card{
  padding: 1rem;;
  background-color: #F0F6FC;
  border:none;
}
.press-release .search-box input{
  margin:0 auto;
}

li{
  list-style: none;
  padding:.5rem;
  transition:.6s;
}

.press-release ul li:hover{
  background-color: #fff;
  transition:ease-in;
}

.press-release ul li i{
  color: green;
}

.pageButton{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;;
}

.pageButton .btn{
  background-color: green;
}


.press-release .img{
   height:20rem;
   width:60rem;
}

.press-release .img img{
  height: 100%;
  width: 100%;
  border-radius:.2rem;
}


.press-release .card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.popular-news .img{
   height:20rem;
   width:15rem;
}

.popular-news .img img{
  height: 100%;
  width: 100%;
  border-radius:.2rem;
}
.popular-news .card{
  border:none;
}

.popular-news .card .text-center{
   margin:0 1rem; 
}




/* career */
.career-hero{
 height:600px;
}
.career-hero .img{
  background-image: url('./image/career.jpg');
  height:100%;
  background-position: center;
   background-repeat: no-repeat;
  background-size: cover;

}

.career-hero .img h3{
  margin-top:5rem;
  z-index: 2;
  font-weight: bolder;
  color: #000;
}

.career-hero .img div{
  height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
}




.help .img{
  height: 35rem;
  width: 35rem;
}

.help .img img{
  height: 100%;
  width: 100%;
  border-radius:1rem;
}

.help .btn{
  background-color: green;
  color: #fff;
  font-weight: bold;
}
.help i{
  color: green;
}



.our-value .img{
  height: 30rem;
  width: 35rem;
}

.our-value .img img{
  height: 100%;
  width: 100%;
  border-radius:1rem;
}




.our-value .card{
  border: none;
}
.our-value .card div{
  background-color:#EBFBFB;
}



.join-us{
  background-color:#EBFBFB;
}


.join-us .btn{
  background-color:green;
  color: #fff;
  font-weight:bold;
}





@media only screen and (max-width: 768px) {
 .hero-container{
   /* background-color:red; */
   min-height: 900px;
 }

 .what-is-shopKpr .img{
   height:30rem;
    width: 27rem;
 }
 .NL{
 font-weight: bolder;
 font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.team-our-team .img{
  height: 23rem;
  width: 25rem;
 
}
.our-advisor .img{
  height: 23rem;
  width: 25rem;
 
}
.press-release .img{
   height:20rem;
   width:25rem;
}
.press-release .card{
flex-direction: column;
}

.help .img{
  height: 35rem;
  width: 28rem;
}

.our-value .img{
  height: 30rem;
  width: 28rem;
}

.help{
  text-align: center;
  
}

.vision .banner .img{
 height:30rem;
 width: 28rem;
 /* background-color: #000; */
  
}

}